.app-organizer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  grid-template: 1fr auto / auto 1fr;

  --screen-scale: 1.4;
}

.slidebar {
  position: relative;

  grid-row: 1 / 3;

  height: 100%;
  width: 300px;
  padding: 20px;
  
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  font-size: 15px;
  background-color: #32C383;

  transition: width 0.4s ease-in-out;
}

.slidebar > button {
  margin: -5px;

  position: absolute;
  top: 20px;
  right: 20px;
}

.info-button {
  position: fixed;
  top: 15px;
  right: 30px;
}

.home-button {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

/** SCREEN STUFF **/

.screen {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  /* transform: scaleX(-1);
  scale: 1.4;*/
 
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
  transition: transform 0.4s ease-in-out;
}

.detection-indicator {
  position: absolute;

  width: 100%;

  display: grid;
  grid-template-columns: auto auto 1fr;

  place-items: center;

  z-index: 37;
  transition: all 0.5s ease;
}

.detection-line {
  border-top: solid 5px #32C383;
  width: 100%;
  height: min-content;

  transition: width 0.5s ease;
}

.detection-box {
  border: solid 5px #32C383;
  
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.4);
  
  transition: all 0.5s ease;
}

.slouch-line {
  position: absolute;
  
  width: 100%;

  border-bottom: dashed 3px #32C383;
  
  z-index: 36;
}

ol > li {
  margin: 10px;
}