.organizer {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;

  grid-template-rows: 1fr 100px;
}

.screen {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  transform: scaleX(-1);
  scale: 1.2;

  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}

.detection-indicator {
  position: absolute;

  width: 100%;

  display: grid;
  grid-template-columns: auto auto 1fr;

  place-items: center;

  z-index: 37;
  transition: all 0.5s ease;
}

.detection-line {
  border-top: solid 5px #32C383;
  width: 100%;
  height: min-content;

  transition: width 0.5s ease;
}

.detection-box {
  border: solid 5px #32C383;
  
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.4);
  
  transition: all 0.5s ease;
}

.slouch-line {
  position: absolute;
  
  width: 100%;

  border-bottom: dashed 3px #32C383;
  
  z-index: 36;
}