body {
    overflow-x: hidden;
}

.topPart {
    margin:0;
    padding:0;
    background-color: #32C383;
}

.section {
    margin: 0 50px;
    padding: 25px;
}

.bottomPart{
    margin:0;
    padding:0;
}

.box-main{
    margin-left: 10px;
    color:#32C383;
}

.title{
    position: relative;
    padding-top:30px;
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bolder;
}

.logoContainer{
    text-align: center;
    margin: 0;
}
.logo {
    display: grid;
    position: relative;
    width: 20%;
    height: 20%;
    margin: 0 auto;
}

.btndiv {
    display: flex;
    justify-content: center;
}

.slant1 {
    position:relative;
    border: 5px solid #32C383;
    background-color: #32C383;
    width: 110%;
    height: 100px;
    transform: rotate(1.6deg);
    transform-origin: left;
}

.slant2 {
    position:relative;
    border-bottom: 5px solid #32C383;
    width: 100%;
    transform: rotate(1.6deg);
    transform-origin: left;
}

.slant3 {
    position:relative;
    border-bottom: 5px solid #32C383;
    width: 100%;
    transform: rotate(1.6deg);
    transform-origin: left;
}

.box-main{
    color: #32C383;
}
  

.btn {
    display: inline-block;
    margin: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 0px;
    background-color: whitesmoke;
    color:#32C383;
    font-weight: 750;
    font-size: 20px;
    cursor: pointer;
    opacity:0.9;
    margin: 5px;
    transition: all 0.3s ease, color 0.2s ease;

    border: solid 2px white;
}
.btn:hover {
    opacity: 1;
    background-color: #32C383;
    color: whitesmoke;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}
.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity:0;
    top:0;
    right: -20px;
    transition: 0.2s;
}

.btn:hover span {
    padding-right: 25px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.parallax {
    background-image: url("/path/to/image/file.png");
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.firstHalf {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;

    /* identical to box height, or 47px */
    text-align: left;

    color: #FFFFFF;
}
.description {
    font-weight: bold;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    /* or 31px */

    color: #FFFFFF;
}
.about-title {
    font-weight: bold;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 0;

    /* identical to box height, or 47px */

    color: #FFFFFF;
}
@media only screen and (max-device-width:1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.text-footer{
    float:right;
    font-size: smaller;
}