body{
    background: lightblue
}

.topPart {
    margin:0;
    padding:0;
    background-color: #32C383;
}

.bottomPart{
    margin:0;
    padding:0;
}

.box-main{
    color:#32C383;
}

.logo {
    text-align: center;
    margin-top: 2%;
    padding: 3%;
}

.btndiv {
    display: flex;
    justify-content: center;
}

.diagonal-line {
    position:relative;
    border-bottom: 3px solid #32C383;
    width: 100%;
    transform: rotate(1.6deg);
    transform-origin: left;
  }
  
.diagonal-line:before {
    content: ""; /* This is needed to create the pseudo-element */
    position: absolute; /* This is needed to position the pseudo-element */
    top: 0; /* Position the pseudo-element at the top of the line */
    left: 0; /* Position the pseudo-element at the left of the line */
    width: 100%; /* Make the pseudo-element the full width of the line */
    height: 100%; /* Make the pseudo-element the full height of the line */
    background-color: red; /* Set the color of the pseudo-element */
    transform: rotate(-1.6deg); /* Skew the pseudo-element at a -20 degree angle (opposite of the line) */
    z-index: -1; /* Make the pseudo-element appear behind the line */
}


.box-main{
    color: #32C383;
}
  

.btn{
    margin: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 0px;
    background-color: whitesmoke;
    color:#32C383;
    font-weight: 750;
    font-size: 20px;
}

.btn:hover{
    background-color: rgb(46, 141, 89);
}